#==============================================================================
# REPOSITORY EXCLUSIONS
#==============================================================================

.DS_Store
*.tgz
rendered/